---

- block:
    - when: influxdb_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/validate_config.yml"
  tags:
    - setup-all
    - setup-influxdb
    - install-all
    - install-influxdb

- block:
    - when: influxdb_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/install.yml"
  tags:
    - setup-all
    - setup-influxdb
    - install-all
    - install-influxdb

- block:
    - when: not influxdb_enabled | bool
      ansible.builtin.include_tasks: "{{ role_path }}/tasks/uninstall.yml"
  tags:
    - setup-all
    - setup-influxdb
